<?xml version="1.0" encoding="UTF-8"?>
<java version="17.0.6" class="java.beans.XMLDecoder">
    <object class="org.dhltest.framework.ConfigurationFile">
        <void property="drivers">
            <array class="org.dhltest.framework.web.driver.WebDriverProperties" length="1">
                <void index="0">
                    <object class="org.dhltest.framework.web.driver.WebDriverProperties">
                        <void property="browserType">
                            <object class="java.lang.Enum" method="valueOf">
                                <class>org.dhltest.framework.web.driver.WebBrowserType</class>
                                <string>Chrome</string>
                            </object>
                        </void>
                        <void property="remoteDriverUrl">
                            <string>http://localhost:4444</string>
                        </void>
                        <void property="headless">
                            <boolean>false</boolean>
                        </void>
                    </object>
                </void>
                <!--void index="1">
                    <object class="org.dhltest.framework.web.driver.WebDriverProperties">
                        <void property="browserType">
                            <object class="java.lang.Enum" method="valueOf">
                                <class>org.dhltest.framework.web.driver.WebBrowserType</class>
                                <string>Firefox</string>
                            </object>
                        </void>
                        <void property="headless">
                            <boolean>false</boolean>
                        </void>
                        <void property="remoteDriverUrl">
                            <string>http://localhost:4444</string>
                        </void>
                    </object>
                </void>
                <void index="2">
                    <object class="org.dhltest.framework.web.driver.WebDriverProperties">
                        <void property="browserType">
                            <object class="java.lang.Enum" method="valueOf">
                                <class>org.dhltest.framework.web.driver.WebBrowserType</class>
                                <string>Edge</string>
                            </object>
                        </void>
                        <void property="headless">
                            <boolean>false</boolean>
                        </void>
                        <void property="remoteDriverUrl">
                            <string>http://localhost:4444</string>
                        </void>
                    </object>
                </void-->
            </array>
        </void>
        <void property="testAttempts">
            <int>1</int>
        </void>
        <void property="testedUrl">
            <string>https://www.dhl.com/se-en/home/freight/tools/</string>
        </void>
    </object>
</java>
